.container_landingPage {
  background: url(/public/assets/images/gradienta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #f8f8f8;
}

.brand_title {
  text-align: center;
  font-size: 10vh;
  color: #f8f8f8;
  text-shadow: 0px 3px 0px #d3a724,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}

.brand_title span {
  font-family: SantitaOne, serif;
  background: -webkit-linear-gradient(#0047FF, #BAABFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  padding: 2.5rem;
}

.landingPage__description_title {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 5rem;

  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.landingPage__description_p {
  text-align: center;
  font-family:Rubik;
  font-size:2rem;
}

.landingPage__description_p span {
  font-family: SantitaOne, serif;
  background: -webkit-linear-gradient(#0047FF, #BAABFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  padding: 0.2rem;
  text-shadow: 0px 3px 0px #d3a724,
  0px 14px 10px rgba(0, 0, 0, 0.15),
  0px 24px 2px rgba(0, 0, 0, 0.1),
  0px 34px 30px rgba(0, 0, 0, 0.1);
}

.landingPage__description_image{
  transform:rotate(-8deg);
}