@font-face {
  font-family: SantitaOne;
  src: url(/public/assets/fonts/SansitaOne.ttf);
}

.landingPage {
  background: url(/public/assets/images/gradienta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #f8f8f8;
}

.landingPage .title {
  text-align: center;
  font-size: 8vw;
  color: #f8f8f8;
}

.landingPage .title span {
  font-family: SantitaOne, serif;
  background: -webkit-linear-gradient(#0047FF, #BAABFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  padding:2.5rem;
}

.landingPage-container {
  height: 100%;
  padding: 1rem;
}

.landing-left {
  color: #f8f8f8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-left h2, p {
  color:#f8f8f8;
  font-family: serif;
}

.landing-left span {
  font-family:SantitaOne, serif;
  font-size: 2rem;
}

.landing-right {
  display: flex;
  justify-content: flex-end;
}

.landing-right img{
  transform: rotate(-4deg);
}

.discover {
  display: inline-block;
  color: #f8f8f8;
  background-color: black;
  border: 3px solid #fbbf23;
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.discover span {
  font-family: SantitaOne, serif;
  font-size: 2rem;
}
.discover:hover {
  font-family: SantitaOne, serif;
  font-size: 2rem;
  background-color:#fbbf23;
  color:black;
 
}